.first-row {
    top: 65px; 
    height: 501px;
    margin-bottom: 125px;
}
.third-height {
    height: 250px !important;
}
.banner-height {
    height: 500px !important;
}
.no-bottom-margin {
    margin-bottom: 0px !important;
}

.splide__arrow:hover svg {
    fill: #00bfff
}

.splide__arrow svg {
    fill: white
}

#rail {
    position: relative;
}

#rail-segment {
    position: absolute; 
    bottom: 0;
}

