#result-bar {
    top: 65px;
    margin-bottom: 10px;
}

.secondary-items {
    margin-left: 0.5vw !important;
    margin-top: 10px!important;
}

.column {
    padding-left: 0px !important;
}

.search-dropdown {
    background-color: whitesmoke !important;
    color: black !important;
}

.card-margin-bottom {
    margin-bottom: 5px !important;
}

.pager-text-color a {
    color: white !important;
    font-size: 15px;
}

a.item:hover {
    color: rgb(77, 77, 77) !important;
}

.active.item {
    background-color: rgb(115, 115, 115) !important;
}

.no-botton-padding {
    padding-bottom: 0px !important;
}